@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Kaushan+Script&family=Lobster+Two&display=swap');

#jumbo {
  margin: 50px;
  text-align: center;
}

#lookbooks {
 margin-left: auto;
 margin-right: auto;
 text-align: center;
}
#cardDisplay {
  font-family: 'Lobster Two', cursive;
}
#formGroups{
  display: flex; 
  justify-content: center;
  text-align: center;
  width: 100%; 

}
.formOne{
  margin: 40px;
}
#title{
  color: white;
  font-family: 'Lobster Two', cursive;
}